In [7]:
def evenDigitSum(n):
    s=0
    while n!=0:
        r=n%10
        if r%2==0:
            s=s+r
        n=n//10
    return s
evenDigitSum(1234)

6

In [8]:
def square(x):
    return x*x
square(10)

100

In [11]:
def cube(x):
    return x*x*x
cube(10)

In [14]:
def multiply(x,y=0):
    print("value of x=",x)
    print("value of y=",y)
    return(x*y)
print(multiply(y=2,x=4))

value of x= 4
value of y= 2
8

In [18]:
def swap(x=2,y=3):
    temp=x
    x=y
    y=temp
    return x,y
swap(2,3)

(3, 2)

In [21]:
def largeDigit(n):
    large=0
    while n!=0:
        r=n%10
        if large<r:
            large=r
        n=n//10
        return large
largeDigit(123456)

6

In [24]:
def printseries(lb,ub):
    for x in range(lb,ub+1):
        print(x,end = ' ')
    return
printseries(1,100)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [26]:
li=[1,8,16,9,2]
print(li)

[1, 8, 16, 9, 2]

In [27]:
li=[1,8,16,9,2]
print(li)
print(li[0])
print(li[2])

[1, 8, 16, 9, 2]
1
16

In [28]:
li=[1,8,16,9,2]
print(li)
print(li[0])
print(li[2])
print(li[-4])
print(li[1:4])
print(li[-4:-1])

[1, 8, 16, 9, 2]
1
16
8
[8, 16, 9]
[8, 16, 9]

In [33]:
li=['gitam',1234,'hyd']
print(li)
del li[1]
print(li)

['gitam', 1234, 'hyd']
['gitam', 'hyd']